body{
    background-color: #CCD7E3;
}

h1{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 1.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    display: grid;
    grid-template-rows: 105px 495px;
    
    margin-left: auto;
    margin-right: auto;

    /*background-color: white;*/
    width: 450px;
    height: 600px;
    
    /*border: 5px solid black;*/
    box-sizing: content-box;
}
#display {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 450px;
    background-color: #EDF6F9;
    box-sizing: content-box;


    word-wrap: break-word;
    word-break: break-all;
    font-size: 50px;
    font-weight: 800;
    color: black;
    text-align: calc(-55);

}
#buttons {
    display: grid;
    grid-template-columns: 345px 105px;

    height: 100%;
    width: 100%;
    /*background-color: beige;*/

    /*border-top: 5px solid black;*/
    box-sizing: border-box;
}
#numbers {
    display: grid;
    grid-template-columns: 115px 115px 115px;
    grid-template-rows: 123.75px 123.75px 123.75px;

    height: 100%;
    width: 100%;
    background-color: #FFDDD2;
    
    
    font-weight: 800;
    font-size: 50px;  
}
.numberTile{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /*margin-top: 25px;*/

    align-items: center;
    justify-content: center;
}
.numberTile:hover{
    background-color: #E29578;
}
.numberTile:active{
    background-color: #b66f55;
}



#functions {
    display: grid;
    grid-template-rows: 82.5 82.5 82.5 82.5 82.5 82.5;
    height: 100%;
    width: 100%;
    background-color: #83C5BE;
    /*border-left: 5px solid black;*/
    box-sizing: content-box;
}
.functionTiles {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;

    font-weight: 800;
    font-size: 30px; 
}
.functionTiles:hover{
    background-color: #006D77;
}
.functionTiles:active{
    background-color: #014e53;
}


.dispText {
    word-wrap: break-word;
    word-break: break-all;

    margin-left: -12px;
    /*margin-right: auto;*/
    text-align: right;

    width: 450px;
    height: 100%;

    font-size: 50px;
    font-weight: 800;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}